.featured-categories {
  width: 1355px;
  margin: auto;
  padding: 20px;
  
}


.custom-swiper {
  padding: 10px;
}

.category-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto !important; /* Đảm bảo không bị ghi đè */
  margin-right: 10 !important; /* Loại bỏ margin nếu không cần */
}

.category-container {
  display: flex;
margin: 5px;
  align-items: center;
  margin-inline: auto;
}

.category-large,
.category-small {
  margin-right: 0;
  padding: .625rem .375rem;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  background: #f9f9f9;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

.category-large {
  width: 251.19px;
  height: 252px;
}
.category-large,
.category-small-group {
  width: 251.19px;
  height: 252px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.category-small {
  width: 252px;
  height: 121px;
}

.category-large img,
.category-small img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ảnh hiển thị đầy đủ mà không bị crop */
  background-color: white; /* Đảm bảo nền trắng nếu ảnh nhỏ hơn khung */
}

.category-name {
  position: absolute;
  top: 8px;
  left: 8px;
  color: black;
  font-size: 14px;
  font-weight: bold;
  background: none;
}
